html,
body {
    margin: 0;
    height: 100%;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}
header {
    width: 100%;
    height: 74px;
    background-color: #313dfa;
}
.wrapper {
    max-width: 600px;
    margin: 0 auto;
}
header > div {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
header > div h2 {
    text-transform: uppercase;
    margin: 0;
}
header > div span {
    font-weight: 700;
    padding-top: 4px;
    display: inline-block;
}
article {
    font-family: Arial;
    flex: 1;
    padding-top: 20px;
}
article > img {
    width: 100%;
}
article h3 {
    color: #313dfa;
    margin: 0;
    padding-top: 20px;
}
article p {
    line-height: 24px;
}

footer {
    text-align: center;
    padding: 8px 0;
    color: darkgrey;
}

@media only screen and (orientation: portrait) {
    header .wrapper {
        padding: 0 20px;
    }
    .wrapper {
        padding: 20px;
    }
    header > div {
        color: #afdce5;
    }
    header h2 {
        font-size: 20px;
    }
    header span {
        font-size: 12px;
        font-weight: normal;
        padding-top: 6px;
    }
}

@media only screen and (max-width: 360px) {
    header h2 {
        font-size: 18px;
    }
}
@media only screen and (max-width: 280px) {
    header h2 {
        font-size: 14px;
    }
}

div.select {
    display: inline-flex;
    align-items: center;
    border: 1px solid lightgray;
    position: relative;
}
select {
    border: 0;
    appearance: none;
    outline: none;
    padding: 8px 34px 8px 8px;
    background: none;
}
.select-icon {
    width: 15px;
    height: 6px;
    position: absolute;
    right: 8px;
    z-index: -1;
    background: url('../images/select-arrow.png') no-repeat;
    background-position: center;
    background-size: contain;
}
select:focus + i.select-icon {
    transform: rotate(180deg);
    transition: transform 0.1s ease;
}
.next-button {
    background-color: #313dfa;
    font-weight: 700;
    color: white;
    padding: 13px;
    width: 200px;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid #313dfa;
    cursor: pointer;
}
.next-button:hover {
    box-shadow: inset 0 8px 10px rgba(0, 0, 0, 0.3);
}