html,
body {
    margin: 0;
    height: 100%;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}
.wrapper {
    max-width: 600px;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 70px;
    background-color: #313dfa;
}
header > div {
    display: flex;
    flex-direction: column;
    height: inherit;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
header > div h2 {
    text-transform: uppercase;
    margin: 0;
}
header > div span {
    font-weight: 700;
    padding-top: 4px;
    display: inline-block;
}
article {
    font-family: Arial;
    flex: 1;
    padding-top: 20px;
    font-size: 0;
}
article > img {
    width: 100%;
}
article h3 {
    color: #313dfa;
    margin: 0;
    padding-top: 20px;
}
section p {
    line-height: 24px;
    margin: 0;
    padding: 20px 0 30px 0;
}
section {
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 8px 0;
    color: darkgrey;
}

article.main {
    display: none;
}
article.main.active {
    display: block;
}
.questions {
    width: 100%;
}

.progress-block > div {
    width: 100%;
    background-color: whitesmoke;
    box-sizing: border-box;
}
.progress {
    width: 0;
    height: 6px;
    margin-bottom: 20px;
    background-color: red;
}
.progress-block {
    display: none;
}
.progress-block.active {
    display: block;
}

fieldset {
    padding: 0;
    border: 0;
    margin: 0;
    display: none;
    background-color: #f3f4f8;
}
fieldset.active {
    display: block;
}
fieldset legend {
    text-align: center;
    color: white;
    background-color: #343b4d;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;
}
fieldset ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}
fieldset.sex ul {
    flex-direction: row;
}
fieldset ul li label {
    display: block;
    padding: 26px;
    cursor: pointer;
}
.error {
    background-color: lightpink;
    margin: 20px 40px;
    padding: 12px 0;
    text-align: center;
    font-size: 14px;
    color: orangered;
    display: none;
}
.error.active {
    display: block;
}

.select {
    text-align: center;
}
.select > ul li {
    margin-top: 20px;
}
.select > ul li:last-child {
    margin-bottom: 20px;
}
.select select {
    border: 1px solid lightgray;
    appearance: none;
    outline: none;
    height: 46px;
    width: 200px;
    padding: 0 10px;
    font-size: 16px;
    text-align: left;

    background: url('../images/select-arrow.png') no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    background-color: white;
}
.select select.active {
    font-weight: 700;
    color: #313dfa;
}
.zodiac {
    display: none;
}
.zodiac.active {
    display: block;
}
.zodiac figure {
    margin-top: 0;
}
.zodiac img {
    width: 120px;
    height: 120px;
    box-sizing: border-box;
}
.zodiac figcaption {
    font-size: 14px;
}

.next-button {
    background-color: #313dfa;
    font-weight: 700;
    color: white;
    padding: 16px 0;
    width: 200px;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid #313dfa;
    cursor: pointer;
    margin: 20px auto;
    display: none;
}
.next-button.active {
    display: block;
}
.next-button:hover {
    box-shadow: inset 0 8px 10px rgba(0, 0, 0, 0.3);
}

/* mobile */
@media only screen and (orientation: portrait) {
    .questions {
        width: auto;
    }
    header .wrapper {
        padding: 0 20px;
    }
    .wrapper {
        padding: 20px 20px 0 20px;
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
    }
    header > div {
        color: #afdce5;
    }
    header h2 {
        font-size: 20px;
    }
    header span {
        font-size: 12px;
        font-weight: normal;
        padding-top: 6px;
    }
    section p {
        font-size: 15px;
        padding: 14px 0;
    }
    fieldset ul li label {
        padding: 22px 30px;
    }
    .footer {
        padding: 6px 0;
        font-size: 12px;
    }
}
@media only screen and (max-width: 360px) {
    header h2 {
        font-size: 18px;
    }
}
@media only screen and (max-width: 281px) {
    header h2 {
        font-size: 14px;
    }
    fieldset h3 {
        font-size: 16px;
    }
    fieldset ul li label {
        padding: 20px 12px;
    }
}